.conversationsMainContainer {
    margin-right: 0;
    position: absolute;
    bottom: 40px;
    min-width: 900px;
    height: 584px;
    width: calc(100vw - 200px);
    margin-left: 170px;
    display: flex;
    flex-direction: row;
    box-shadow: 0 0 2px 0 rgba(0,0,0,.12), 0 2px 4px 0 rgba(0,0,0,.24) !important;
}

.conversationsSideBar {
    flex: 2;
    border-right: 1px solid rgba(34, 36, 38, 0.15);
    max-height: 100%;
    overflow-y: auto;
    background: #fff;
}

.conversationsSideBar:hover {
    overflow-y: auto;
}

.conversationsChatBox {
    flex: 5;
    display: flex;
    background: #fff;
    flex-direction: row;
}

.chatGrouping {
    width: calc(100% - 200px);
}

.conversationsMessages {
    width: 100%;
    height: calc(100% - 90px);
    overflow-y: auto;
    padding-bottom: 5px;
    overflow-x: hidden;
    padding-top: 20px;
}


.conversationsTextBox {
    width: 100%;
    height: 90px;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.conversationsStatsBox {
    height: 100%;
    width: 200px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-left:1px solid rgba(34, 36, 38, 0.15);
}

.followersBox {
    padding-bottom: 20px;
    padding-left: 5px;
    margin-top: 20px;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.activeUserBox {
    padding-bottom: 20px;
    padding-left: 5px;
    border-top: 1px solid rgba(34, 36, 38, 0.15);
}

.statTitles {
    font-size: 18px;
    color: #b6bcbc !important;
    font-weight: 400;
}

.titleGroup {
    display: flex;
    align-items: center;
    padding: 5px;
}

.followersIcon {
    margin-bottom: 5px !important;
    margin-right: 6px !important;
    color: #5bc0e3 !important;
}

.viewPostButton {
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    height: 40px;
    display: flex;
    color: #b3b5c1;
    border-radius: 27px;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    transition: color 0.35s ease;
}

.viewPostButton:hover {
    color: #6874e8;
}

.conversationsTypingRow {
    display: flex;
    padding-bottom: 4px;
}

.conversationsInputWrapper {
    display: inline-flex;
    width:100%;
    height: 100%;
    padding-bottom: 4px;
}

.conversationsTextBoxForm {
    padding: 5px;
    width: 90%;
}

#conversationsMessageInput {
    border-color: transparent!important;
    background-color: transparent!important;
    padding: 2px!important;
    box-shadow: none!important;
    border-radius: 0!important;
    color: #3a3a3a !important;
    max-height: 80px;
    overflow-y: auto;
    font-weight: 500 !important;
}


.miniPostCard {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    padding: 5px 0 5px 5px !important;
}

.miniPostCardActive {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
    border-radius: 0 !important;
    border: none !important;
    box-shadow: none !important;
    background: rgba(0, 0, 0, .05) !important;
    padding: 5px 0 5px 5px !important;
}

.miniPostCard:hover {
    background: rgba(0, 0, 0, .05) !important;
}



.lastMessageBox {
    width: 100%;
    font-size: 12px;
    color: rgba(153, 153, 153, 1);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.conversationCardWrapper {
    margin-left: 0px;
    margin-top: 0px;
    min-width: 24px;
    min-height: 20px;
    max-width: 24px;
    max-height: 24px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.conversationCardUserImage {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    margin: auto;
}

.conversationCardContent {
    cursor: pointer;
    color: #3a3a3a !important;
    padding: 6px !important;
    padding-bottom: 0px !important;
}

.conversationCardHeader {
    margin-bottom: 5px;
    /*color: #568ea3;*/
    color: #4EAABA;
    font-size: 14px;
    line-height: 19px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    font-weight: 400;
    word-spacing: 10px;
}


.conversationCardHeader:after {
    content: "   ";
    /*content: "&nbsp;&nbsp;&nbsp;"*/
}

.conversationCardHeaderUser {
    margin-left: 6px;
    font-size: 11px;
    margin-top: 0 !important;
}

.conversationCardBody {
    overflow: hidden;
    font-size: 10px;
    margin-left: 30px !important;
    margin-bottom: 0px !important;

}

.commentNumMini {
    margin-right: 12px;
}

.followNumMini {
    margin-right: 12px;
}

.activeNumMini {
    /*color: #85C7F2;*/
    color: #11e6a7;
    margin-right: 12px;
}

.isUnreadMini {
    color: #d40d27;
    margin-right: 12px;
}

.messageInfoGroupMini {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    font-size: 8px;
    font-weight: 400;
    color: #b3b5c1;
}

.unreadsCircleMini {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #d40d27;
    border-radius: 50%;
    min-width: 19px;
    max-width: fit-content;
    font-size: 10px;
    margin-left: auto;
}

/*body ::-webkit-scrollbar {*/
    /*width: 0;*/
/*}*/
