.newPost {
    padding: 2%;
    width: 100%;
    background-color: #fff;
    margin-top: 20px;
    border-radius: 3px;
    margin-bottom: 20px;
    border: 1px solid;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5;
}

.uploadButtonIcon {
    font-size: 30px !important;
} 

.attachFileIcon:hover {
    color: #5bc0e3 !important;
}

.attachFileIcon {
    cursor: pointer;
    color: #3a3a3a !important;
}

.Feed_Wrapper {
    width: 513px;
    position: absolute;
    left: 50%;
    margin-top: 100px;
    transform: translate(-50%);
    /*border: 1px solid rgba(34, 36, 38, 0.15);*/
}


.newPostFooter {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.fileUpload {

}

.createButton {
    color: #5bc0e3 !important;
    background-color: #fff !important;
}

.createButton:hover {
    background-color: #fff !important;
}

.wholeCreateButton {
    background-color: #fff !important;
}

.tagItemLabel {
    background-color: #B3805C;
    margin-left: 3%;
    border-radius: 4px 3px 4px 3px;
    color: #F1F1EF;
    font-size: 14px;
    line-height: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 20px;
}




.newPost_Container {
    height: 310px;
    width: 210px;
    display: flex;
    justify-content: center;    
}

.newPostContent {
    display: flex;
    justify-content: center;
}

#textarea1 {
    width: 100%;
    margin-top: 0px;
    padding-top: 12px;
    padding-bottom: 12px;
    padding-right: 10px;
    padding-left: 0px;
    border: none !important;

}

#newPostHeader {
    color: #314460;
}

#addingTags {
    display: flex;
    justify-content: space-between;
}

.searchTags {
    width: 35%;
    margin-top: 10px;
    margin-left: 10px;
}

#addTagButton {
    margin-right: 5px;
}

#tagPrefTitleHash {
    color: #4CC1FC;
    margin-top: 12px;
}

#tagHash {
    color: #0082B0;
}

#tag {
    background-color: #97ABA9;
    margin-left: 3%;
    border-radius: 27px;
    color: #F1F1EF;
    font-size: 14px;
    line-height: 19px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 10px;
    padding-right: 20px;
    margin-bottom: 5px;
}

#tagPrefTitleDiv {
    display: flex;
    width: 100%;
}

#tagPrefTitle {
    color: #B3805C;
    margin-top: 14px;
    margin-bottom: 10px;
    margin-left: 6px;
}

.choiceForm {
    margin-bottom: 14px;
}
.discoverButton {
    color: #4CC1FC;
}

.prev {
    color: black;
}


.deMofoSaviour {
    width: 513px;
    height: 612px;
    position: absolute;
    pointer-events: none;
}

.banterScroller {
    position: relative;
}

#newConversationButton {
    background-color: #5bc0e3;
    color: #FAFAFA;
}

.feedTop {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#discoverLine {
    width: 112px;
}

#conversationHeader {
    padding-bottom: 0px !important;
}

.newConversationOuter {
    clear: both !important;
    padding-top: 0px !important;
}

#choice_form {
    display: flex;
    width: auto;
    flex-wrap: wrap;
}

.cancelButton {
    float: right !important;
    margin-bottom: 10px !important;
    margin-left: 300px !important;
}

.newConvHeader {
    color: #fff;
}

.newPostForm {
    width: 100%;
}

.topicSelector {
    display: inline-flex;
    width: 100%;
}

.addTopics {
    font-weight: bold;
    color: #3a3a3a;
    margin-bottom: 0;
    align-self: center;
}

.newPostTagsPref {
}

.topics {
    display: inline-block;
    overflow-wrap: break-word;
    margin-left: 10px;
    width: 400px;
}

.topic {
    margin-right: 10px;
}

.topicRemove {
    cursor: pointer;
}


/*@media (max-width: 950px) {*/
    /*.Feed_Wrapper {*/
        /*background-color: #FAFAFA;*/
        /*position: relative;*/
        /*left: inherit;*/
        /*margin-top: 6vh;*/
        /*transform: inherit;*/
    /*}*/
/*}*/

.emptyLoaders {
    margin-bottom: 15px !important;
    margin-top: 3px !important;
    padding: 15px 20px !important;
    border: none !important;
    box-shadow: 0 1px 3px 0 rgba(0,0,0, .05) !important;
    border-radius: 0 !important;
    height: 250px;
    padding-right: 30px !important;
}

@keyframes placeHolderShimmer{
    0%{
        background-position: -468px 0
    }
    100%{
        background-position: 468px 0
    }
}

.animatedBackground {
    animation-duration: 1s;
    animation-fill-mode: forwards;
    animation-iteration-count: infinite;
    animation-name: placeHolderShimmer;
    animation-timing-function: linear;
    background: #f6f7f8;
    background: linear-gradient(to right, #eeeeee 8%, #dddddd 18%, #eeeeee 33%);
    background-size: 800px 104px;
    height: auto;
    position: relative;
}

.avatarBlank {
    height: 36px;
    width: 36px;
    padding: 16px;
    background: none;
    border-radius: 100%;
    margin-right: 8px;
    border: 100px solid #fff;
}

.avatarBlankHolder {
    width: 80px;
    display: flex;
    justify-content: center;
    height: 80px;
    overflow: hidden;
    align-items: center;
    max-width: 40px;
    max-height: 40px;
}

.postHeaderLoader {
    height: 40px;
    display: flex;
    width: 100%;
    flex-direction: column;
}

.postHeaderBlank {
    height: 5px;
    background: #fff;
    width: 100%;
}

.postHeaderBlankName {
    height: 12px;
    background: #fff;
    width: 88%;
    margin-left: auto;
}

.postHeaderBlankTime {
    height: 8px;
    background: #fff;
    width: 92%;
    margin-left: auto;
}

.postBodyBlank {
    background: #fff;
    height: 10px;
    width: 100%;
    margin-bottom: 15px;
}

.postBodySpace {
    background: #fff;
    height: 10px;
    width: 100%;
}

.postBodyBlankHalf {
    background: #fff;
    height: 15px;
    width: 60%;
    margin-left: auto;
}

.postDescriptionBlank {
    width: 100%;
    height: 75px;
    display: flex;
    flex-direction: column;
}

.postContentBlank {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.postDividerBlank {
    margin-right: 10px !important;
    margin-bottom: 5px !important;
}



.postLoader {
    /*margin-top: 59px !important;*/
}

#fileInputNewpost {
    display: none
}

.popUpNoBody {
    padding: 3px;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #5bc0e3;
    position: absolute;
    margin-top: 37px;;
}

.currentView {
    margin-left: 10px;
    /*color: #b3b5c1;*/
    margin-right: 15px;
}

.allTopics {
    /*color: #b3b5c1;*/
}

.newPostTrigger {
    position: fixed !important;
    top: 105px;
    right: 5%;
    /*background-color: #568ea3 !important;*/
    /*background-color: #1C4BBA !important;*/
    background-color: #305BC0 !important;
    color: #fff !important;
    box-shadow: none !important;
    transition: background-color 0.35s ease, box-shadow 0.35s ease;
    cursor: pointer;
}

.newPostTrigger:hover {
    box-shadow: 0px 0px 10px 3px rgba(34, 36, 38, 0.15) !important;
    /*background-color: #3f8ea3 !important;*/
    /*background-color: #2667ff !important;*/
    background-color: #1C4BBA !important;
}

.newPostSegment {
    margin-top: 20px !important;
    border-radius: 0 !important;
    position: fixed !important;
    width: 400px;
    top: 24%;
    border: none !important;
    z-index: 1000;
    box-shadow: 0px 0px 10px 3px rgba(34, 36, 38, 0.15) !important;
    right: 5%;
}

.newPostDimmer {
    opacity: .5;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999;
}

i.circular.icon {
    padding-left: 17px !important;
    padding-top: 15px !important;

}


