.directoryCardsList {
    margin-top: 43px;
    padding-top: 40px;
    margin-right: 20px;
    width: calc(100vw - 150px);
    position: absolute;
    right: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.Container {
    background-color: #313D4D;
    overflow-x: scroll;
}



.cardImage.ui.image {
    height: 160px;
}

.directoryHeader {
    font-size: 16px;
}

.directoryMeta.meta {
    padding: 2.5px;
    font-size: 12px;
    line-height: 13px;
}


.banterScroller {
    position: relative;
}

.searchDirectory {
    width: 50vw;
    margin-right: 25%;
    margin-left: 25%;
}

.directoryCard {
    height: 310px !important;
    width: 220px !important;
    margin-left: 50px !important;
    box-shadow: 0 0 10px 0 rgba(34,36,38,.15) !important;
}

.directoryCard:hover {
    box-shadow: 0 0 20px 0px rgba(34,36,38,.15) !important;
}

.infoSpan {
    margin-top: 5px;
    display: block;
}

.directoryMeta.meta {
    margin-top: 5px;
}

.directoryMeta.meta .icon{
    margin-right: 4px !important;
}

.extra.content {
    padding: 0.2em;
}

.cardImage {
    object-fit: cover !important;
}

