
#navBar {
    width: 100%;
    position: fixed;
    z-index: 301;
    display: flex;
    height: 43px;
    background-color: #fff;
    /*border-bottom: 1px solid rgba(34,36,38,.15);*/
    box-shadow: 0 1px 2px 0 rgba(34,36,38,.15);
}

.logoHolder {
    left: 6%;
    position: absolute;
}

.logo {
    color: #a67759;
    font-size: 42px;
}

.tabs {
    color: #1b1c1d;
}

.Container {
    height: 100%;
    color: #F1F1EF;
}

.navBarLinks {
    display: flex;
    flex-direction: row;
    width: auto;
    justify-content: space-between;
    right: 0;
    position: absolute;
    margin-top: 7px;
}

.navBarLinksRight {
    right: 0.5%;
    display: flex;
    margin-right: 10px;
    left: auto;
    position: absolute;
    color: #F1F1EF;
}

.navBarHome {
    left: 10px;
    right: auto;
    position: absolute;
    color: #3a3a3a;
}

.navBarHome:hover {
    color: #5bc0e3 !important;
}

.bar {
    background-color: #B48059;
    width: 8px;
    height: 8px;
    border-radius: 100px;
    margin-top: 0.4vw;
  }

.communityNavBarLogo {
    display: flex;
    margin-left: 80px;
}

.communityImage {
    width: 100%;
    height: auto;
    margin-top: 10px;
}

.communityTitleNav {
    margin-left: 10px;
    color: #3A3A3A;
    font-size: 24px;
    font-weight: bold;
    margin-top: 0;
    align-self: center;
}

.navbarLinkOn {
    cursor: pointer !important;
    font-weight: bold;
    margin-bottom: 9px;
    color: #5bc0e3 !important;
    background-color: #fff !important;
    padding-top: 2px !important;
    text-align: center;
}

.navbarLinkOff {
    cursor: pointer !important;
    color: #3A3A3A;
    background-color: #fff !important;
    padding-top: 8px !important;
    font-weight: bold;
    padding-bottom: 8px !important;
}

.imageWrapper {
    margin-left: 10px;
    margin-top: 10px;
    min-width: 30px;
    min-height: 30px;

    border-radius: 50%;
    display: flex;
    overflow: hidden;
    margin-right: 15px
}

.logoutText {
    margin-top: 10px;
}

.profilePopoutOuter {
    position: fixed;
    background: #F1F1EF;
    top: 60px;
    right: 1%;
    z-index: 3;
    border-radius: 4px;
}

.arrow-up {
    width: 0; 
    height: 0; 
    position: fixed;
    right: 1.5%;
    margin-top: -20px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 20px solid #F1F1EF;
}

.profilePopeoutHeader {
    text-align: center;
    padding: 20px;
    text-decoration: underline;
}

.profilePopoutOuterMost {
    position: absolute;
    top: 60px;
    left: -100vw;
    width: 150vw;
    height: 100vh;
    z-index: 4;
    background: rgba(0,0,0,0.8);
}

.ui.dropdown {
    margin-top: 15px;
}

.ui.dropdown > .text {
    font-size: 20px;
}

.communityLink {
    margin: 15px 40px 15px 40px;
}

.communityCard {
    width: 220px !important;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    color: #3a3a3a;
    background: #fff;
    /*box-shadow: 0 0 10px 0 rgba(34,36,38,.15);*/
    transition: background .25s ease;
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 1px 3px 0 rgba(0,0,0, .05);
}


.communityCard:hover, .communityCardOther:hover {
    box-shadow: 0 0 10px 0 rgba(34,36,38,.18);
    /*box-shadow: 0 1px 3px 0 rgba(0,0,0, .05);*/
}

.communityCardOther {
    margin: 15px 40px 15px 40px;
    min-width: 220px !important;
    display: flex;
    flex-direction: column;
    padding-bottom: 10px;
    color: #3a3a3a;
    background: #fff;
    /*box-shadow: 0 0 10px 0 rgba(34,36,38,.15);*/
    border: 1px solid rgba(0,0,0,.05);
    box-shadow: 0 1px 3px 0 rgba(0,0,0, .05);
}


.communityCardTitle {
    font-weight: bold;
    padding: 10px 0 10px 10px;
    font-size: 20px;
}

.communityCardImage {
    object-fit: cover !important;
    height: 210px;
    min-width: 100%;
    max-width: 100%;
    max-height: 200px;
}

.communitiesContainer {
    display: flex;
    overflow: auto;

}

.walnutContainer {
    display: flex;
    flex-direction: column;
    background-color: #fff;
}

.communityCardContent {
    padding: 10px !important;
}

.Heading {
    color: #3a3a3a;
    font-size: 45px;
    font-weight: bolder;
    padding: 20px 20px 10px 20px;
    margin-bottom: 30px;
}

.walnutHomeActions {
    margin-bottom: 20px;
}

.subHead {
    padding: 0px 20px 0px 35px;
    color: #3a3a3a;
    font-size: 20px;
    font-weight: bold;
}

.modalTrigger {
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    float: right;
    display: flex;
    align-items: center;
    color: #b3b5c1;
    border-radius: 27px;
    border: 1px solid;
    margin-right: 50px !important;
    transition: color .35s ease;
}

.modalTrigger:hover {
    color:#6874e8;
}

.codeTrigger {
    cursor: pointer;
    padding: 5px 15px 5px 15px;
    float: left;
    margin-left: 50px !important;
    display: flex;
    align-items: center;
    color: #b3b5c1;
    border-radius: 27px;
    border: 1px solid;
    transition: color .35s ease;
}

.codeTrigger:hover {
    color: #4EAABA;
}

.joinButton {
    cursor: pointer;
    padding: 5px 10px 5px 10px;
    float: right;
    display: flex;
    align-items: center;
    color: #b3b5c1;
    border-radius: 27px;
    border: 1px solid;
    transition: color .35s ease;
    margin-right: 15px;
}

.joinButton:hover {
    color:#6874e8;
}

.joinCodeSegment {
    margin-top: 20px !important;
    border-radius: 0 !important;
    position: fixed !important;
    width: 294px !important;
    top: 6%;
    border: none !important;
    z-index: 1000;
    box-shadow: 0px 0px 10px 3px rgba(34, 36, 38, 0.15) !important;
    left: 27%;
}

.buttonIcon {
    margin-bottom: 7px !important;
    margin-right: 5px !important;
}

.joinErrorIcon {
    font-size: 22px !important;
    color: #BD303F !important;
    position: absolute !important;
    left: 5.5% !important;
    top: 43% !important;
}

.buttonIconJoin {
    margin-bottom: 5px !important;
    margin-right: 5px !important;
}

#codeTextBox {
    width: 170px !important;
}

.joinLoader {
    margin-top: 10px !important;
}

.isJoiningDiv {
    display: flex;
    flex-direction: column;
}

#verifyingText {
    margin-left: 18px;
}

.popUpJoinError {
    padding: 3px;
    border: 1px solid #ccc !important;
    border-radius: 4px;
    width: 280px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    color: #5bc0e3;
    position: absolute;
    margin-top: 5px;
    margin-left: 254px;
}

.addButton {
    margin-left: 15px !important;
}


.titleInput {
    position: absolute !important;
    top: 77%;
    margin-left: 96px;
    width: 400px;
}

#communityTitleText {
    color: black;
    margin: 0;
    position: absolute;
    top: 70%;
    left: 6%;   
}

#communityPictureText {
    color: black;
    margin: 0;
    position: absolute;
    top: 6%;
    left: 6%;
}

#radioLabel {
    font-weight: 600 !important;
    font-size: 22px !important;
}

#communityPrivacyHeader {
    color: black;
    margin: 0;
    position: absolute;
    top: 5%;
    left: 3%
}

.privacySettings {
    height: 460px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-left: 63px;
    margin-right: 81px;
    margin-top: 41px;
}

.privacySettingDesc {
    color: black;
}

.topicLi {
    color: black;
    margin-top: 10px;
}

.topicTitle {
    color: black;
    margin-left: 20px;
    margin-top: 0;
}

#topicInput {
    width: 403px;
}

#memberInput {
    width: 403px;
    margin-left: 8px;
}

#defaultTopicList {
    height: 200px;
    position: absolute;
    bottom: 17%;
    font-size: 17px;
    font-weight: 600;
    margin-left: 177px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.topicIntro {
    color: black;
    margin-left: 25px;
    margin-right: 25px;
    text-align: center;
}

.topicPicture {
    height: auto;
    width: 400px;
    position: absolute;
    top: 22%;
    margin-left: 95px;
}

.addTags {
    margin-left: 64px;
    position: absolute;
    bottom: 10%;
}

.stickyDiv {
    display: flex;
}

.imageWrapperCommunity {
    margin-left: 10px;
    margin-top: 7px;
    width: 30px;
    height: 30px;
    display: flex;
    overflow: hidden;
}

.communityImage {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: auto;
}

.imageWrapperNav {
    min-width: 32px;
    min-height: 32px;
    max-height: 32px;
    max-width: 32px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    margin-right: 10px
}

.profileDropdown {
    /* margin-top: 11px !important;*/
    color: #3a3a3a;
}

.profileDropdown:hover {
    color: #5bc0e3;
}

.bottomBar {
    background-color: #5bc0e3;
    margin-top: 12px;
    height: 2px !important;
    width: 14vh;
    border-radius: 20px;
}

.navbarLinkOff:hover {
    color: #5bc0e3 !important;
}

.communityImgPre {
    height: 305px;
    width: auto;
    position: absolute;
    top: 14%;
    margin-left: 143px;
    filter: brightness(80%);
}

.imgWrapperComm {
    height: 305px;
    width: 305px;
    display: flex;
    overflow: hidden;
    position: absolute;
    top: 14%;
    margin-left: 143px;
}

.communityImgUpload {
    max-width: 100%;
    height: auto;
    object-fit: contain;
    margin: auto;
}

button.ui.button > input {
    display: inline !important;
}

.modalEditTrigger {
    position: absolute !important;
    top: 50px !important;
    margin-left: 80px !important;
}

.adminFname {
    color: white !important;
}

.ui.dropdown .menu {
    left: auto;
    right: 5%;
}

.ui.pointing.dropdown>.menu:after {
    box-shadow: none !important;
    top: -.45em !important;
    height: .8em !important;
    width: .8em !important;
    left: 78% !important;
    border: 1px solid rgba(34,36,38,.15) !important;
    border-right: none !important;
    border-bottom: none !important;
}

.ui.dropdown>.dropdown.icon {
    font-size: 1.25em !important;
    margin-right: 10px;
}

.ui.pointing.dropdown>.menu {
    margin-top: 5px !important;
}

.dropdownProfileLink {
    color: #3a3a3a !important;
}

.dropdownLogout{
    color: #3a3a3a !important;
}

#communityUploaderCreate {
    margin-right: 100px;
    margin-bottom: 23px;
    cursor: pointer;
}

#communityUploaderCreate:hover {
    color: #5bc0e3 !important;
}

.closingIcon {
    cursor: pointer;
    color: black;
    font-size: 22px !important;
}

.modalHeader {
    display: flex !important;
    width: 100% !important;
    justify-content: flex-end;
}

.ui.loader:after {
    border-color: #5bc0e3 transparent transparent !important;
}


.walnutLoading {
    background: #fafafa;
    height: -webkit-fill-available;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.walnutHead {
    color: #3a3a3a;
    text-align: center;
    font-size: -webkit-xxx-large;
}

.loadingCommunity {
    text-align: center;
    color: #3a3a3a;
}

.loadingContainer {
    height: 300px;
    width: 300px;
}

.navbarLinkOnDropdown {
    cursor: pointer !important;
    font-weight: bold;
    margin-bottom: 9px;
    color: #5bc0e3 !important;
    padding-top: 2px !important;
}

.messageEnd {
    float: left;
    clear: both;
}

.emailDiv {
    height: 450px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.tagsDiv {
    height: 261px;
    margin-top: 144px;
    overflow-x: hidden;
    overflow-y: scroll;
}

.emailInnerDiv {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    border-radius: 8px;
    width: fit-content;
    border: 1px solid;
    border-color: #5bc0e3;
    height: fit-content;
    padding: 6px;
    margin-left: 36px;
    margin-bottom: 4px;
}

.removeIcon {
    color: #94B0DA !important;
    font-size: 22px !important;
    margin-top: 1px !important;
    cursor: pointer !important;
}

.email {
    color: black;
    margin-top: 0;
    font-size: 18px;
}

.navbarLinkOffDropdown {
    cursor: pointer !important;
    color: #3A3A3A;
    padding-top: 8px !important;
    font-weight: bold;
    padding-bottom: 8px !important;
}

.sidebar.icon {
    margin-left: 5px !important;
    margin-right: 5px !important;
    width: 1em !important;
    height: auto !important;
    font-size: 2em !important;
}

.menuDropdown {
    margin-right: 5px;
    margin-left: 10px;
    color: #3a3a3a;
    margin-top: 7px !important;

}

.menuDropdown:hover {
    color: #5bc0e3;
}

.middle {
    width: 30%
}

/*@media (max-width: 560px) {*/
    /*.menuDropdown {*/
        /*margin-right: 5px;*/
        /*margin-left: 10px;*/
        /*color: #3a3a3a;*/
        /*right: 2%;*/
        /*position: absolute !important;*/
    /*}*/
    /*.communityNavBarLogo {*/
        /*display: flex;*/
        /*margin-left: 40px;*/
    /*}*/
    /*.communityTitle {*/
        /*font-size: 14px;*/
        /*margin-left: 10px;*/
        /*color: #3A3A3A;*/
        /*margin-top: 0;*/
        /*align-self: center;*/
    /*}*/
/*}*/
/*@media (max-width: 255px) {*/
    /*.communityTitle {*/
        /*font-size: 0px;*/
        /*margin-left: 10px;*/
        /*color: #3A3A3A;*/
        /*margin-top: 0;*/
        /*align-self: center;*/
    /*}*/
/*}*/

#fileInputEditComm {
    display: none
}

#fileInputNewComm {
    display: none
}

.verticalDivider {
    border-right: 1px solid rgba(34, 36, 38, 0.15);
    height: 30px;
    width: 0;
}

.discoverIcon {
    margin: 0 !important;
}

.mapIcon {

}

.directoryIcon {

}

.ellipsis.vertical.icon {
    font-size: 2em;
    color: #A18C87;
}

.navUser {
    color: #292f36;
    padding-left: 3px;
    padding-right: 3px;
    margin-left: 10px;
    border-radius: 4px;
    font-size: 16px;
    display: flex;
    font-weight: bold;
    margin-top: -5px;
    align-items: center;
    flex-direction: row;
    margin-right: 10px;
    height: 38px;
    transition: background .35s ease;
}

.navUser:hover {
    background: rgba(0, 0, 0, .05);
}

.profileLink {

}


.discoverTab {
    padding: 0px 10px 0px 12px;
    color: #bababa;
    transition: color .35s ease;
    height: 70px;
    display: flex;
    align-items: center;
}

.discoverTabActive {
    padding: 0px 10px 0px 12px;
    border-left: solid 6px;
    height: 70px;
    color: #747474;
    display: flex;
    align-items: center;
    /*transition: b;*/
}

/*.discoverTabActive::before {*/
    /*content: ' ';*/
    /*display: inline-block;*/
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*height: 100%;*/
    /*width: .5rem;*/
    /*-webkit-transform: translateX(-100%);*/
    /*transform: translateX(-100%);*/
    /*-webkit-transition: -webkit-transform .2s linear;*/
    /*transition: transform .2s linear;*/
    /*background-color: #94B0DA;*/
/*}*/

.discoverTab:hover, .discoverTabActive:hover {
    color: #747474;
}

.LeftSidebar_Container {
    position: fixed;
    z-index: 302;
    width: 60px;
    height: 95vh;
    margin-top: 43px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    padding-top: 50px;
    background: #fff;
    border-top: 1px solid rgba(34,36,38,.15);
    border-right: 1px solid rgba(34,36,38,.15);
    /*box-shadow: 0 2px 10px 0 rgba(34,36,38,.15);*/
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.05)
}
 
.createCommunityCard {
    background: #fff;
    height: 92vh;
    width: 600px;
    padding: .5em .5em;
    border: none;
    margin: 0;
    box-shadow: 0 0 10px 0 rgba(34,36,38,.15);
    border-radius: 4px;
}

.modalComponent {
    width: inherit !important;
    margin: 0 !important;
    top: 4% !important;
    left: 29% !important;
    right: 29% !important;
}


.createButtonModal {
    color: #5bc0e3 !important;
    background-color: #fff !important;
    border: 1.5px solid !important;
    border-radius: 4px !important;
    width: 83px !important;
    height: 28px !important;
    padding-left: 11px !important;
    padding-top: 6px !important;
    position: absolute !important;
    margin-left: 496px !important;
    margin-top: 85px !important;
    cursor: pointer;
}

.nextButtonModal1 {
    color: #5bc0e3 !important;
    background-color: #fff !important;
    border: 1.5px solid !important;
    border-radius: 4px !important;
    width: 57px !important;
    height: 28px !important;
    padding-left: 11px !important;
    padding-top: 6px !important;
    position: relative !important;
    left: 89% !important;
    cursor: pointer;
    margin-top: 320px !important;
}


.nextButtonModal2 {
    color: #5bc0e3 !important;
    background-color: #fff !important;
    border: 1.5px solid !important;
    border-radius: 4px !important;
    width: 57px !important;
    height: 28px !important;
    padding-left: 11px !important;
    padding-top: 6px !important;
    position: relative !important;
    left: 89% !important;
    cursor: pointer;
    margin-top: 72px !important;
}

.nextButtonModal3 {
    color: #5bc0e3 !important;
    background-color: #fff !important;
    border: 1.5px solid !important;
    border-radius: 4px !important;
    width: 57px !important;
    height: 28px !important;
    padding-left: 11px !important;
    padding-top: 6px !important;
    position: relative !important;
    left: 89% !important;
    cursor: pointer;
    margin-top: 101px !important;
}


.prevButtonModal2 {
    color: #5bc0e3 !important;
    background-color: #fff !important;
    border: 1.5px solid !important;
    border-radius: 4px !important;
    width: 57px !important;
    height: 28px !important;
    padding-left: 11px !important;
    padding-top: 6px !important;
    left: 17px !important;
    cursor: pointer;
    margin-top: 72px !important;
    position: absolute !important;
}

.prevButtonModal3 {
    color: #5bc0e3 !important;
    background-color: #fff !important;
    border: 1.5px solid !important;
    border-radius: 4px !important;
    width: 57px !important;
    height: 28px !important;
    padding-left: 11px !important;
    padding-top: 6px !important;
    left: 17px !important;
    cursor: pointer;
    margin-top: 101px !important;
    position: absolute !important;
}

.prevButtonModal4 {
    color: #5bc0e3 !important;
    background-color: #fff !important;
    border: 1.5px solid !important;
    border-radius: 4px !important;
    width: 57px !important;
    height: 28px !important;
    padding-left: 11px !important;
    padding-top: 6px !important;
    position: relative !important;
    margin-top: 85px !important;
    left: 17px !important;
    cursor: pointer;
}

.createCommunityActions {
    position: absolute !important;
    bottom: 2%;
    width: 585px;
    display: flex;
}

#fileUploadNewComm {
    position: relative;
    left: 42%;
    margin-top: 40%;
    z-index: 1;
}

h1, h2, h3, h4, h5 {
    font-family: inherit;
}

.pageMarker{
    display: flex;
    width: 100px;
    position: absolute;
    bottom: 5%;
    margin-left: 257px;
}

.outerCircle {
  border: 1px solid #568ea3;
  height: 10px;
  width: 10px;
  margin-left: 10px;
  border-radius: 50%;
}

.innerCircle {
    background-color: #568ea3;
    position: absolute;
    margin-top: 2.5px;
    height: 5px;
    width: 5px;
    margin-left: 12px;
    border-radius: 50%;
}

.innerCircle1 {
    background-color: #568ea3;
    position: absolute;
    margin-top: 2.5px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-left: 32.3px;
}

.innerCircle2 {
    background-color: #568ea3;
    position: absolute;
    margin-top: 2.5px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-left: 52.3px;
}

.innerCircle3 {
    background-color: #568ea3;
    position: absolute;
    margin-top: 2.5px;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    margin-left: 72.3px;
}

.editCommTabs {
     width: 100px !important;
     background-color: white !important;
}

.editTabSection {
    width: 550px;
    height: 625px;
    background-color: white;
    position: absolute;
    top: 0%;
    margin-left: 100px;
}

.editCommModal {
    margin-top: 0 !important;
    top: 5% !important;
    left: 50% !important;
}

.closeEditModal {
    color: black !important;
    margin-top: -18px !important;
    margin-right: 7px !important;
}

.logo {
    margin-top: 5px;
    height: 32px;
    width: 32px;
    margin-left: 5px;
}
