.mediaAttachment {
    margin-right: 10px;
    margin-left: 10px;
    overflow: hidden;
}

.lightBoxImage {
    width: 700px;
}

.mediaPDFAttachment {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 200px;
    overflow: hidden;
    justify-content: flex-start;
}

.pdfThumbOut {
    width: 100%;
}

.pdfModalFooter {
    display: flex;
    justify-content: center;
}

.mediaVideoAttachment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.video-react-controls-enabled {
    padding-top: 60% !important;
}

.video-react-big-play-button {
    top: 50% !important;
    left: 50% !important;
}

.big-play-button-hide {
    display: none !important;
}

.pdfCard {
    width: 50% !important;
    text-align: center;
}

.mediaDownloadAttachment {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.downloadButton{
    position: absolute;
    right: 10px;
    top: 23px;    
    color: #3a3a3a !important;
    cursor: pointer;
} 


.downloadButton:hover {
    color: #5bc0e3 !important;
} 

.downloadButtonPDF {
    margin: 0!important;
    position: absolute;
    right: 10px;
    color: #3a3a3a !important;

}

.downloadButtonPDF:hover {
    color: #5bc0e3 !important;
}

.pdfIcons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-height: 60px;
}


.viewButtonPDF {
    color: #3a3a3a !important;
    margin-left: 10px !important;
    margin-bottom: 5px !important;
}

.viewButtonPDF:hover {
    color: #5bc0e3 !important;
}

.downloadCard {
    width: 400px !important;
    flex-direction: row !important;
    padding: 1% !important;
    box-shadow: none !important;
    background: #FAFAFA !important;
    border: 1px solid #b3b5c1 !important;
}

.downloadCard:hover {
    box-shadow: 0 1px 2px 1px rgba(34, 36, 38, 0.15) !important;
}


.downloadConfirm:hover {
    color: blue;
}

.downloadCancel:hover {
    color: red;
}

.downloadConfirm {
    color: whitesmoke;
}

.downloadCancel {
    color: whitesmoke;
}

.tagContainer {
    margin-left: 10px;
    width: 400px;
    display: flex;
    max-height: 50px;
    overflow: hidden;
}

.tag {
    color: #568ea3;
    border-radius: 3px;
    padding-top: 4px;
    padding-bottom: 2px;
    font-weight: bold;
    padding-right: 10px;
    display: inline-block;
    margin-right: 5px;
    min-width: fit-content;
}

.hashtag {
    font-size: 12px;
    line-height: 19px;
}

.scrollContentClass {
    height: calc(65vh) !important;
    max-height: calc(65vh) !important;
    display: flex !important;
    flex-direction: column !important;
    padding-bottom: 5px !important;
}


#inputBoxHolder {
    display: flex;
}

#commentInput {
    flex: 10;
}

#commentSubmit {
    flex: 1;
}

.walnutLogo {
    margin-left: auto;
    margin-right: auto;
}

/*.postSegment:hover {*/
    /*background: #FAFAFA !important;*/
    /*!*padding-top: 1.5em !important;*!*/
    /*!*padding-bottom: 1.5em !important;*!*/
/*}*/

.postContent {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
}

.isFollowingGroup {
    color: #b3b5c1;
    display: flex;
    flex-direction: row;
    max-height: 20px;
    padding: 3px;
    margin-top: 5px;
    margin-right: 60px;
    margin-left: auto;
}

.iconFollowing {
    align-self: center !important;
    font-size: 1em !important;
}

.followingText {
    font-size: small;
    font-weight: bold;
}

.postFollowButton {
    padding: 3px !important;
    color: #b3b5c1 !important;
    background-color: #fff !important;
    height: 20px !important;
    margin-left: auto !important;
    margin-right: 74px !important;
    margin-top: 5px !important;
}

.postFollowButton:hover {
    color: #5bc0e3 !important;
}

.postUser {
    display: flex;
    flex-direction: row;
}

.imageWrapperPost {
    margin-left: 10px;
    margin-top: 6px;
    min-width: 36px;
    min-height: 36px;
    max-height: 36px;
    max-width: 36px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    margin-right: 15px
}

.postUserImage {
    max-width: 105%;
    min-height: inherit;
    object-fit: cover;
    margin: auto;
}

.postHeader {
    display: block;
    height: 46px;
    margin-top: 5px;
}

.postHeaderUser {
    align-self: baseline;
    height: 19px;
    color: #3a3a3a;
    font-family: Avenir Next;	
    font-size: 14px;	
    font-weight: bold;	
    line-height: 19px;
    margin-left: -5px;
    margin-bottom: 0;
}

.postInnerContent {
    overflow: hidden;
    width: 480.83px;	
    color: #4A4A4A;	
    font-family: Avenir Next;	
    font-size: 16px;
    line-height: 25px;
    margin-left: 2%;
    margin-bottom: 15px;
    margin-top: 5px;
}

.postFootnote {
    display: flex;
    flex-direction: row;
    height: 40px;
    align-items: center;
    overflow: hidden;
}

.commentIcon {
    text-decoration: none !important;
}

.commentIconMini {
    /* cursor: pointer;*/
    color: #FAFAFA !important;
}

/*.commentIconMini:hover {*/
    /*color: #5bc0e3 !important;*/
/*}*/

.statsGroup {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.activeNum {
    color: #85C7F2;
    font-size: smaller;
    margin-right: 12px;
}

.commentNum {
    color: #b3b5c1;
    font-size: smaller;
    margin-right: 12px;
}

.followNum {
    color: #b3b5c1;
    font-size: smaller;
    margin-right: 12px;
}

.noUnread {
    color: #b3b5c1;
    font-size: smaller;
    margin-right: 12px;
}

.isUnread {
    color: #f45b69;
    font-size: smaller;
    margin-right: 12px;
}
.noUnreadMini {
    color: #b3b5c1;
    font-size: 8px;
    margin-right: 12px;
}

.isUnreadMini {
    color: #f45b69;
    font-size: 8px;
    margin-right: 12px;
}

.commentNumMini {
    color: #b3b5c1;
    font-size: 8px;
    margin-right: 12px;
}

.followNumMini {
    color: #b3b5c1;
    font-size: 8px;
    margin-right: 12px;
}

.messageInfoGroupMini {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.commentNumUn {
    color: #bc3e3e;
    margin-left: 10px;
    margin-top: 4px;
    margin-right: 3px;
    font-weight: bold;
}

.userNum {
    margin-right: 3px;
    margin-top: 4px;
    color: #4CC1FC;
    font-weight: bold;
}

.commentDiv {
    font-size: smaller;
    color: #313D4D !important;
    display: flex;
    margin-left: auto;
    margin-right: 10px;
}

.postDescription {
    margin-bottom: 5px;
}

.downloadFileName {
    color: #3a3a3a;
    margin-left: 5px !important;
    font-size: 16px;
    font-weight: bold;
    word-break: break-word;
    width: 268px;
    margin-bottom: 0;
}

.downloadFileNameComment {
    color: #3a3a3a;
    margin-left: 5px !important;
    font-size: 12px;
    font-weight: bold;
    word-break: break-word;
}

.downloadFileIcon {
    color: #DADDD8
}

.ui.card.commentCardOther {
    background-color: #e8e8e8;
    box-shadow: none;
    margin: 0 10px 5px 5px;
    clear:both;
    width: auto;
    max-width: 270px;
    border-radius: 16px;
}

.messageGroupOther {
    /*margin-right: 300px;*/
}

.messageGroupYou {
    margin-left: auto;
}

.ui.card.commentCardYou {
    background-color: #59B7C5;;
    box-shadow: none;
    margin:0 10px 5px 10px;
    clear: both;
    width: auto;
    max-width: 270px;
    border-radius: 16px;
}

.messageContent {
    padding: 5px 12px 5px 12px !important;
    line-height: 1.3em !important;
}

.messageNameYou {
    float:right;
    padding-right: 20px;
    color: #9e9e9e;
}

.messageNameOther {
    float:left;
    padding-left: 17px;
    color: rgba(0, 0, 0, .40);
}


.messageAvatarYou {
}

.imageWrapper.messageAvatarOther {
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 8px;
    min-width: 36px;
    min-height: 36px;
    max-width: 36px;
    max-height: 36px;
    border-radius: 100%;
    display: flex;
    overflow: hidden;
    align-self: flex-end;
    margin-bottom: 5px;
    background: none !important;
}

.linkPreview {
    color: black;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 15px;
}

.linkPreviewWrapper{
     width: 100%
}

.lineLeft {
    width: 6px;
    background-color: #59B7C5;
    border-radius: 100px;
    height: auto;
    margin-left: 10px;
}

.linkPrev {
    margin-right: 10px;
    margin-left: 10px;
    display: flex;
}

.linkPub {
    margin-bottom: 0;
}

.linkTitle {
    margin: 0
}

.linkImg {
    overflow: hidden;
    width: 100%;
    max-height: 150px;
    object-fit: contain;
    object-position: 0;
}

body ::-webkit-scrollbar-track {
    background-color: inherit;
}

.userGroupYou {
    clear: both;
    display: inline-flex;
}

.userGroupOther {
    clear: both;
    display: inline-flex;
}

iframe {
    width: 100%
}

.inModalUsers {
    /* margin-left: 150px;*/
}

#messageInput{
    border-color: transparent!important;
    background-color: transparent!important;
    padding: 2px!important;
    box-shadow: none!important;
    border-radius: 0!important;
    color: #3a3a3a !important;
}

.previewPdf {
    height: 59px;
    width: 56px;
    background-color: #98C1D9;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 9px;
    position: absolute;
}

.pdfClickMe {
    margin-left: 8px;
}

.pdfClickMeText {
    color: white;
}

#mediaIcon {
    color: #44e5e7;
}

.joinConversation {
    /* margin-left: 75px;*/
}

.joinButton {
    
}

.typersContainer {
    padding: 4px !important;
    display: inline-flex !important;
    min-height: 50px;
}

.typerGroup {
    display: inline-flex;
}

.typingIcon {
    padding-top: 12px !important;
    padding-left: 5px !important;
}

.typingImage {
    margin: 0 !important;
}

.modalActions {
    padding-top: 5px !important;
    padding-bottom: 5px !important;
    margin-bottom: 3px !important;
}
.textBoxForm {
    border: 1px rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-right: none;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    border-radius: 5px;
    padding: 5px;
    width: 90%;
}

.popupAvatar {
    margin-bottom: 0px !important;
    margin-top: 0px !important;
}

.membersPopup {
    max-width: 300px !important;
    max-height: 200px !important;
    overflow: auto !important;
}

.unfollowText {
    margin-right: 21px;
}

.postImage {
    height: auto;
    min-height: initial;
    width: 100%;
    cursor: pointer;
    object-fit: cover;
    object-position: 0 0;
    max-height: 500px;
}

.postDivider {
    margin-right: 10px !important;
    margin-left: 10px !important;
    margin-bottom: 5px !important;
}

.usersIcon {
    margin-right: 0px !important;
    color: #5d5d5d;
    margin-left: .1em !important;
}

.usersIconMini {
    color: #FAFAFA;
}

.membersGroup {
    margin-right: 15px;
}

.membersText {
    text-align: center;
    color: #5d5d5d;
}

.messagesGroup {
    margin-right: 5px;
    color: #5d5d5d !important;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.messagesGroup:hover {
    color: #5bc0e3 !important;
}

.messageText {
    font-weight: 500;
    text-align: center;
}



.Select-control {
    border: 1px solid !important;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5 !important;
    border-radius: 3px !important;
}


.linkPrevComment {
    margin-right: 10px;
    margin-left: -8px;
    display: flex;
    margin-top: 10px;
}

.linkPreviewCommentWrapper{
     width: 100%
}

.linkPreviewComment {
    color: black;
    padding-left: 10px;
    margin-bottom: 15px;
}

.linkTitleComment {
    margin: 0;
    font-size: 15px;
}

.linkImgComment {
    overflow: hidden;
    width: 100%;
    object-fit: contain;
    object-position: 0 0;
}

.linkImageComment {
    max-width: 233px;
    max-height: 100px;
    overflow: hidden;
}

.linkDescComment {
    font-size: 10px;
    margin-bottom: 0px !important;
    color: #fff;
}

.lineLeftComment {
    height: 246px;
    width: 6px;
    background-color: #3E719F;
    border-radius: 100px;
    margin-left: 10px;
}

.typingRow {
    height: 100%;
    width: 100%;
    min-height: 43px;
    display: flex;
    padding-bottom: 4px;
}

.emojiPicker {
    cursor: pointer;
    color: #b3b5c1;
}

.emojiDiv {
    position: absolute;
    top: 371px;
    right: 15px;
    z-index: 1000;
}

.actionsTextBox {
    width: 10%;
    flex-direction: column;
    align-items: flex-end;
    display: flex;
    height: auto;
    border: 1px rgba(255, 255, 255, 0.9);
    border-style: solid;
    border-radius: 5px;
    border-left: none;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    padding-top: 5px;
    padding-bottom: 5px;
}

.attachFileIconModal {
    cursor: pointer;
    color: #b3b5c1 !important;
}

#fileSubmit{
    margin-top: 10px;
    width: 80px;
}

.imageAttachmentComment{
    border-radius: 16px;
    overflow: hidden;
    max-height: 200px;
}

/* .postImageComment{
    height: auto;
    min-height: initial;
    width: 100%;
    object-fit: contain;
    object-position: 0 -100px;
}

.mediaDownloadAttachmentComment{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
} */

.downloadCardComment {
    width: 250px !important;
    flex-direction: row !important;
    padding: 1% !important;
    box-shadow: none !important;
    background: #FAFAFA !important;
    border: 1px solid #b3b5c1 !important;
}

.downloadCardComment:hover {
    box-shadow: 0 1px 2px 1px rgba(34, 36, 38, 0.15) !important;
}

/*.linkPreviewComment a{*/
    /*color: #3a3a3a;*/
/*}*/

.postTimeStamp {
    height: 14px;
    font-size: 10px;
    margin-left: -5px;
    color: #b3b5c1;
}

.noMoreMessages {
    color: #FAFAFA;
    font-weight: bold;
    font-size: 20px;
}

.postHeaderModal {
    display: flex;
    align-items: center;
    height: 46px;
    justify-content: space-between;
    width: 100%;
}

body ::-webkit-scrollbar-thumb {
    cursor: pointer;
    border-radius: 5px;
    background: #b3b5c1;
    -webkit-transition: color .2s ease;
    transition: color .2s ease;
}

.inputWrapper {
    display: inline-flex;
    width:100%;
    border-top: 1px solid rgba(34,36,38,.15);
}

.fileuploadmodal {
    max-width: 26px !important;
}

.ui.dimmer {
    background-color: rgba(0, 0, 0, 0.82);
}

.visible.transition.postModal {
    display: flex !important;
}

.postModalSidebar {
    flex: 1;
    padding: 0 !important;
}

.postModalMain {
    flex: 3;
}

.SideBarPosts {
    width: 90%;
    height: 79vh;
    overflow-y: auto;
}

.topActions {
    height: 10vh;
    padding-top: 6%;
}

.SideBarHeader {
    font-size: 20px;
    font-weight: bold;
    color: #FAFAFA;
    margin-bottom: 0 !important;
}

.SideBarHeaderDivider {
    margin-top: 0 !important;
    width: 50% !important;
}

body ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 8px;
}

.closingButton {
    /* margin-left: 40px;*/
    cursor: pointer;
}

.closingButton:hover {
    color: #5bc0e3 !important;
}

#fileInputConversation {
    display: none
}

#fileUploadConversation {
    margin-right: 9px !important
}

.followerGroup {
    display: flex;
}

.followIconGroup {
    color: #5d5d5d;
}

.feedIcon {
    text-shadow: none !important;
    color: #5bc0e3 !important;
}

.followersPopup {
    max-width: 300px !important;
    max-height: 200px !important;
    overflow: auto !important;
}

.conversationCardContentModal {
    cursor: pointer;
    color: #fafafa !important;
    padding: 6px !important;
    padding-bottom: 0px !important;
}

.myConversationCardModal {
    border-radius: 3px !important;
    margin-bottom: 5px !important;
    margin-right: 5px !important;
}

.miniPostCardModal {
    background: none !important;
    box-shadow: none !important;
    border: solid 1px #fafafa !important;
}

.miniPostCardModalCurrent {
    background: rgba(0, 0, 0, 0.40) !important;
    border: solid 1px #5bc0e3 !important;
    box-shadow: none !important
}

.miniPostCardModal:hover {
    background: rgba(0, 0, 0, 0.40) !important;
    border: solid 1px #5bc0e3 !important;
}

.postOuter {
    margin-bottom: 15px !important;
}

.postSegment {
    margin-bottom: 0 !important;
    margin-top: 3px !important;
    padding: .5em .5em !important;
    box-shadow: none !important;
    border-radius: 0 !important;
}

.postSegmentDrawerOpen {
    margin-bottom: 0 !important;
    margin-top: 3px !important;
    padding: .5em .5em !important;
    border-radius: 0 !important;
    box-shadow: 0 1px 6px 0 rgba(34,36,38,.15) !important;
}

.postDrawer {
    background: none !important;
    border-top: none !important;
    margin-top: 0 !important;
    width: 100% !important;
    min-height: 200px !important;
    height: auto !important;
    border-radius: 0 !important;
    padding: 0 !important;
    box-shadow: none !important;
}

.messagesBox {
    padding-top: 10px;
    min-height: 300px !important;
    max-height: 300px !important;
    width: 100%;
    overflow-y: scroll;
    height: auto !important;
}

.messageDescriptionYou {
    color: #fff !important;
}

.messageDescriptionOther {
    color: #231f20 !important;
}