#Discover {
  /* display: flex;*/
  /* flex-direction: row;*/
  /* margin-top: 6vh;*/
  /* justify-content: space-between;*/
}

.RightSideBar_Container {
  flex: 4;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.discoverImage {
  width: 102px;
  height: 108px;
}

.LeftSideBar_Preference {
    margin-left: 20px;
    padding-bottom: 2px;
    margin-top: 9vh;
    border-radius: 4px;
    margin-right: 10px;
    width: 30vh;
}

.outeritem {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  width: 200px;
  color: #314460;
  margin-left: 10px;
  margin-top: 6px !important;
}

.rightButtons {
    display: flex;
    justify-content: center;
}

.rightModalButtonPlus {    
  margin-right: 50px !important;
  background-color: #98C1D9 !important;
  color: #F1F1EF !important;
}

.rightModalButtonChat {    
  margin-right: 50px !important;
  background-color: #DADDD8 !important;
  color: #314460 !important;
}


.conversationCardWrapper {
    margin-left: 0px;
    margin-top: 0px;
    min-width: 24px;
    min-height: 20px;
    max-width: 24px;
    max-height: 24px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
}

.conversationCardUserImage {
    max-width: 100%;
    min-height: 100%;
    object-fit: cover;
    margin: auto;
}

.conversationCardContent {
    cursor: pointer;
    color: #3a3a3a !important;
  padding: 6px !important;
  padding-bottom: 0px !important;
}

.conversationCardHeader {
  display: flex;
  margin-bottom: 5px;
}

.conversationCardHeaderUser {
    margin-left: 6px;
    font-size: 11px;
    margin-top: 0 !important;
}

.conversationCardBody {
    overflow: hidden;
    font-size: 10px;
    margin-left: 30px !important;
    margin-bottom: 0px !important;
}


.tagContainerConversation {
    margin-left: 10px;
    margin-top: 16px;
    width: 400px;
    overflow-x: scroll;
}

.conversationFootnote {
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    height: 40px;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}

.imageWrapperOnline {
    margin-left: 10px;
    margin-top: 6px;
    min-width: 32px;
    min-height: 32px;
    max-height: 32px;
    max-width: 32px;
    border-radius: 50%;
    display: flex;
    overflow: hidden;
    margin-right: 15px
}

.middle.aligned.content {
  display: flex !important;
}

.onlineName {
    margin-top: 5px;
    align-self: center;
    font-weight: bold;
    color: #3a3a3a;
}

.itemGroupOnline {
  height: auto !important;
  overflow-y: scroll !important;
    padding-bottom: 40px;
}

.onlineCircle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #11e6a7;
    margin-right: 10px;
    align-self: center;
    margin-bottom: 3px;
}

.onlineInline {
    display: inline-flex;
}

.minifyButton {
    background: #292f36 !important;
    color: #FAFAFA !important;
    float: right !important;
    margin: 0 0 15px 0 !important;
}

.minifyButton:hover {
    color: #5bc0e3 !important;
}

.onlineTab {
    cursor: pointer !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    border: none !important;
    background: #a6b1e1 !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    color: #fff !important;
    transition: background-color 0.35s ease;

}

.onlineTab:hover {
    background-color: #9ea2e1 !important;
}

.discoverOnlineTitle {
    font-size: 16px;
    font-weight: bold;
    line-height: 34px;
    margin-bottom: 0px;
    margin-top: 0 !important;
}

.onlinePushable {
    position: fixed !important;
    bottom: 0 !important;
    width: 35vh !important;
}

.onlineSidebar {

}

.ui.bottom.sidebar {
    background: #292f36;
    width: 30vh !important;
    margin-left: 20px !important;
    height: auto!important;
    border-top-left-radius: 3px !important;
    border-top-right-radius: 3px !important;
    max-height: 300px !important;
    position: fixed !important;
}

.ui.top.visible.sidebar {
    top: auto !important;
}

.rightContainer {
    position: fixed;
    right: 0;
    margin-top: 9vh;
    height: 50vh;
}

.followedPostsSidebar {
    box-shadow: none !important;
    background: #3a3a3a !important;
    width: 320px !important;
    padding-top: 6vh !important;
    padding-left: 15px !important;
    max-height: 100vh !important;
}

.followedPostsButton {
    height: 50px !important;
    background: #fff !important;
    color: #3a3a3a !important;
    margin-top: 0 !important;
    margin-right: 0px !important;
    border-top-right-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    width: 200px !important;
    border: 1px solid !important;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5 !important;
    text-align: left !important;
    border-right: none !important;
    min-width: 150px !important;
    display: flex !important;
    flex-direction: column;
}

.followedPostsSegment {
    cursor: pointer !important;
    font-weight: bold;
    color: #fff !important;
    width: 100% !important;
    border-right: none !important;
    border: none !important;
    height: 60px;
    display: flex;
    align-items: center;
    border-radius: 0 !important;
    box-shadow: none !important;
    background-color: #424874 !important;
    transition: background-color 0.35s ease;
}

.followedPostsSegment:hover {
    background-color: #353765 !important;
}

.followedPostsGroup {
    width: 100%;
}

.leftSideBox{
    /* margin: 40px 0px 10px 5px;*/
    width: 100%;
    height: auto;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    clear: both;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    margin-bottom: 10px;
}

.onlineGroup {
    width: 100%;
    /*margin-top: 50px;*/
}

.leftChevronIcon {
    margin-top: -5px !important;
    margin-right: 40px !important;
}

.followedPostsButton:hover {
    color: #5bc0e3 !important;
}

.noUnreadDisc {
    color: #b3b5c1;
    font-size: smaller;
    margin-right: 12px;
    margin-top: 3px;
}

.isUnreadDisc {
    color: #f45b69;
    font-size: smaller;
    margin-right: 12px;
    margin-top: 3px;
}

.followedPostsPushable {
    z-index: 103;
    position: fixed !important;
    width: 40vh !important;
    height: 100% !important;
    right: 0;
}


.ui.right.sidebar {
    height: 60vh !important;
    margin-top: 9vh !important;
    width: 40vh !important;
    background: #292f36;
    border-top-left-radius: 3px !important;
    border-bottom-left-radius: 3px !important;
}

.Select span:hover {
    border-color: #5bc0e3 transparent transparent !important;
}

#choice_form {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.topicContainer {
    position: fixed;
    z-index: 300;
    width: calc(100vw - 60px);
    min-width: 600px;
    top: 0;
    right: 0;
    color: #353535 !important;
    margin-top: 43px;
    height: 50px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(34, 36, 38, 0.15);
    background: #fff;
    opacity: .75;
}

.topicSelectorDiscover {
    margin-top: 0 !important;
    width: 250px !important;
    margin-right: 10px !important;
    margin-left: 10px !important;
    right: 0 !important;
    position: absolute !important;
}

/*@media (max-width: 950px) {*/
    /*#root {*/
        /*background-color: #FAFAFA;*/
    /*}*/
    /*.onlinePushable {*/
        /*width: 0 !important;*/
        /*position: relative !important;*/
    /*}*/
    /*#Discover {*/
     /*display: flex;*/
     /*flex-direction: row;*/
     /*height: 100%;*/
     /*justify-content: space-between;*/
     /*overflow: auto;*/
     /*min-width: 950px;*/
    /*}*/
    /*!*.LeftSidebar_Container {*!*/
        /*!*position: relative !important;*!*/
    /*!*}*!*/
    /*.rightContainer {*/
        /*z-index: inherit !important;*/
        /*right: 0;*/
        /*height: 50vh;*/
        /*position: relative !important;*/
    /*}*/
    /*.ui.bottom.sidebar {*/
        /*position: relative !important;*/
        /*background: #3a3a3a;*/
        /*width: 30vh !important;*/
        /*margin-left: 20px !important;*/
        /*height: auto!important;*/
        /*border-top-left-radius: 3px !important;*/
        /*border-top-right-radius: 3px !important;*/
        /*max-height: 300px !important;*/
    /*}*/
    /*.followedPostsPushable {*/
        /*z-index: inherit;*/
        /*width: 40vh !important;*/
        /*height: 100% !important;*/
        /*position: relative !important;*/
    /*}*/
    /*.pushable:not(body)>.ui.sidebar {*/
        /*position: fixed !important;*/
        /*width: auto !important;*/
    /*}*/

    /*.miniPostCard {*/
         /*width: 180px !important;*/
    /*}*/

    /*.pushable {*/
        /*overflow-x: auto;*/
    /*}*/
/*}*/
