.editPage {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
}

.editCard {
    background-color: #fff;
    padding: 20px;
    color: #3a3a3a !important;
    margin-top: 10vh;
    border: 1px solid !important;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5 !important;
    border-radius: 3px !important;
}

.editCardLabel {
    color: #3a3a3a !important;
}

#graduation .text {
    font-size: 14px !important;
}

.six.wide.field > .ui.dropdown {
    margin-top: 0px;
}

#PlacesAutocomplete__root input {
    background-color: white;
    border-radius: .28571429rem;
}

.editProfilePic {
    background-color: #fff;
    padding: 20px;
    margin-top: 10vh;
    border: 1px solid !important;
    border-color: #e5e6e9 #dfe0e4 #d0d1d5 !important;
    border-radius: 3px !important;
}

.profilePicBox {
    width: 250px;
    height: 280px;
}

.editPicButton {
    margin-top: 20px;
    cursor: pointer;
}

.editPicButton:hover {
    color: #5bc0e3 !important;
}

.proPic {
    object-fit: cover;
    max-width: 250px;
    max-height: 280px;
    min-width: 250px;
    min-height: 280px;
    border-radius: 3px;
}

.uploadButton, .saveButton {
    background: #fafafa !important;
    color: #3a3a3a !important;
    margin-top: 32px !important;
    margin-left: 47px !important;
}

.uploadButton:hover, .saveButton:hover {
    color: #5bc0e3 !important;
    margin-top: 32px !important;
    margin-left: 47px !important;
}

.rightInfo {
    margin-left: 19px;
}

.infoOuter {
    display: flex
}