.loginBox {
    width: 400px;

}

.loginPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.loginCard {
    background-color: #3a3a3a !important;
    padding: 20px;
    border-radius: 5px;
    margin-top: 150px;
    color: #5bc0e3 !important;
}

.registerCard{
    background-color: #fff !important;
    padding: 10px 20px 10px 20px;
    border: 1px solid rgba(34,36,38,.15);
    /*box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);*/
    border-radius: 5px;
    width: 280px;
    color: #3a3a3a !important;
    position: absolute !important;
    top: 135px !important;
    right: 47px !important;
    z-index: 100;
}
.newUser {

}

.registerPage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.authLabels {
    color: #3a3a3a !important;
}

.authButtons {
    background: #fafafa !important;
    color: #3a3a3a !important;
}

.registerButton {
    width: 80px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #b3b5c1;
    color: #b3b5c1;
    cursor: pointer;
    transition: border-color 0.35s ease,  color 0.35s ease;
}

.registerButton:hover {
    border: 1px solid #568ea3;
    color: #568ea3;
}

.loginButton {
    width: 60px;
    height: 32px;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    border: 1px solid #b3b5c1;
    cursor: pointer;
    color: #b3b5c1;
    transition: border-color 0.35s ease,  color 0.35s ease;
}

.loginButton:hover {
    border: 1px solid #568ea3;
    color: #568ea3;
}

.forgotPassword {
    background: #fafafa !important;
    height: 20px !important;
    color: #b3b5c1 !important;
    font-size: x-small !important;
}

.forgotPassword:hover {
    color: #5bc0e3 !important;
}

.authLabelsRegister {
    color: #3a3a3a !important;
}

.authButtons:hover {
    color: #5bc0e3 !important;
}

#navBarLogin {
    width: 100%;
    position: absolute;
    z-index: 300;
    top: 0;
    display: flex;
    height: 68px;
    background: none;
    border-bottom: 1px solid rgba(34,36,38,.15);
    justify-content: space-between;
    align-items: flex-end;
}

.loginForm {
    display: flex;
    margin-right: 20px;
}

.loginInputs {
    height: 32px !important;
}

.inputLogin {
    margin-left: 20px !important;
}

.inputLoginPassword {
    margin-left: 20px !important;
    margin-bottom: 0 !important;
    width: 177px !important;
}

.walnutTitleLoginDiv {
    margin-bottom: 10px;
    margin-left: 40px;
}

.walnutTitleLogin {
    font-size: 35px;
}

.registerShowButton {
    position: absolute !important;
    top: 270px !important;
    right: 0;
    margin-right: 10%;
    background-color: #1b4079 !important;
    cursor: pointer;
    width: 120px;
    height: 60px;
    border-radius: 4px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    transition: background-color 0.35s ease;
}

.registerShowButton:hover {
    background-color: #143379 !important;
}

.loginRouteButton {
    position: absolute !important;
    top: 20px !important;
    right: 0;
    margin-right: 3%;
    background-color: #1b4079 !important;
    cursor: pointer;
    width: 120px;
    height: 36px;
    z-index: 100;
    border-radius: 4px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    transition: background-color 0.35s ease;
}

.loginRouteButton:hover {
    background-color: #143379 !important;
}

.backgroundImageLogin {
    width: 100%;
    height: 98.5vh;
    position: absolute;
    top: 10px;
    filter: brightness(40%);
}

.introTextDiv {
    position: absolute;
    color: #3a3a3a;
    top: 135px;
    left: 80px;
    height: auto;
}

.introTextTitle {
    font-size: 56px;
    margin-top: 57px !important;
}

.introTextBlurb {
    position: absolute;
    top: 105px;
    left: 0;
    margin-left: 10%;
    font-size: -webkit-xxx-large;
    color: #424874;
    /*z-index: 100;*/
}

.introText {
    font-size: 20px;
    width: 463px;
}

.step {
    padding-left: 17px !important;
    padding-right: 13px !important;
}

.landingImageSmall {
    max-width: 400px;
    height: auto;
    position: absolute;
    top: 225px;
    left: 0;
    margin-left: 10%;
}

.loginSteps {
    position: absolute;
    top: 480px;
    left: 0;
    margin-left: 10% !important;
}

.newUser {
    top: 200px !important;
    position: absolute;
    color: #3a3a3a;
    right: 0;
    margin-right: 10%;
}

#awaitingVerification {
    position: absolute;
    top: 30%;
    right: 6%;
    flex-direction: inherit;
    width: 252px !important;
}

.p1landingImg {
    width: 100%;
    clip: rect(0px,0px,50px,0px);
}

.p1landingDiv {
    height: 120%;
    overflow: hidden;
}

.p1text {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 13%;
    color: white;
    font-size: 30px;
    background-size: auto;
    background-repeat: no-repeat;
    will-change: transform;
    height: 500px;
    transform: translate3d(0px, 0px, 0px);
    font-weight: 800;
}

.p1logo {
    height: 97px;
    width: auto;
}

.p1logoDiv {
    display: flex;
    justify-content: center;
    margin-top: 153px;
}

.p1logoBack {
    width: fit-content;
    height: 159px;
    padding: 20px;
    padding-top: 30px;
    border-radius: 10px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.05);
}

.p2text {
    position: absolute;
    background-size: auto;
    background-repeat: no-repeat;
    will-change: transform;
    font-size: 25px;
    width: 100%;
    height: 699px;
    transform: translate3d(0px, 653.5px, 0px);
    top: 9px;
    font-weight: 800;
    z-index: 100;
    display: flex;
    justify-content: center;
}

.p2display {
    display: flex;
    justify-content: flex-end;
    top: -300px;
    margin-left: 40px;
}

.p2displayImg {
    height: 800px;
    width: 110%;
}

.p3display {
    top: -550px;
    height: 840px !important;
    background-color: #a0f4d9;
}

.p3displayImg {
    z-index: 100;
    height: 300px;
}

.p3Img {
    top: -295px;
    display: flex;
    z-index: 100;
    justify-content: center;
}

.p3text {
    top: 100px;
    height: 100px !important;
    z-index: 100;
    font-size: 25px;
    line-height: 1.2;
    color: #303e47;
    display: flex;
    justify-content: center;
    font-weight: 800;
}

.p4text {    
    top: -441px;
    font-size: 25px;
    display: flex;
    justify-content: center;
    font-weight: 800;
}

.p4display {    
    top: -663px;
}

.p4ExtractedPost {
    position: absolute;
    top: 159px;
    display: flex;
    justify-content: center;
}

.p4ImgPostE {
    width: auto !important;
    height: 170px !important;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24) !important;
    margin-right: 34px;
}

.p4PostLeft {
    position: absolute;
    top: -264px;
    display: flex;
    justify-content: center;
    z-index: -50;
}

.p4ImgPostL {
    width: auto !important;
    height: 362px !important;
    margin-left: 365px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24) !important;
}

.p4PostRight {
    top: -275px;
    display: flex;
    justify-content: center;
    z-index: -60;
}

.p4ImgPostR {
    width: auto !important;
    height: 413px !important;
    margin-left: 500px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24) !important;
}

.p4Post3 {
    top: -304px;
    display: flex;
    z-index: -12;
    justify-content: center;
}

.p4ImgPost3 {
    width: auto !important;
    height: 362px !important;
    margin-left: 183px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24) !important;
}

.p4Post4 {
    top: -204px;
    display: flex;
    justify-content: center;
    z-index: 114;
}

.p4ImgPost4 {
    width: auto !important;
    height: 183px !important;
    margin-right: 291px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24) !important;
}

.p4Post5 {
    position: absolute;
    top: -230px;
    z-index: 120;
    display: flex;
    justify-content: center;
}

.p4ImgPost5 {
    width: auto !important;
    height: 170px !important;
    margin-right: 559px;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24) !important;
}


.p4tag {
    top: 77px;
    left: 10%;
    font-size: 23px;
    font-weight: 800;
}

.p4filterBy {
    top: 450px;
    display: flex;
    justify-content: flex-end;
    right: 8%;
    font-size: 23px;
    font-weight: 800;
}

.p4Filters {
    position: absolute;
    top: 414px;
    display: flex;
    justify-content: center;
}

.p4ImgFilter {
    width: auto !important;
    height: 47px !important;
    box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.24) !important;
    margin-right: 40px;
}

.p5text {
    top: 64px;;
    font-size: 25px;
    color: white;
    left: 11%;
    z-index: 100;
    font-weight: 800;
}

.p5ImgPara {
    top: 210px;
    z-index: 100;
    left: 8%;
}

.p5Img {
    width: 592px !important;
}

.p5Display {
    top: -211px;
}

.p5ImgDisp {
    filter: brightness(62%);
}

.p6text {
    top: -100px;
    z-index: 100;
    font-size: 25px;
    line-height: 1.2;
    text-align: center;
    color: white;
    padding: 134px;
    font-weight: 800;
}

.p6Img {
    width: 100%;
    filter: brightness(87%);
}

.p6Display {
    top: -260px;
}

.p6Button {
    display: flex;
    justify-content: center;
    top: 200px;
    z-index: 100;
}

.signUpRouteButton {
    background-color: #1b4079 !important;
    cursor: pointer;
    width: 120px;
    height: 36px;
    z-index: 100;
    border-radius: 4px;
    display: flex;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    color: #fff !important;
    transition: background-color 0.35s ease;
}

.p6Footer {
    height: 277px !important;
    top: 475px;
    background-color: black;
    display: flex;
    justify-content: center;
    z-index: 100;
}

.contactUs {
    color: white;
    font-size: 23px;
    font-weight: 800;
    margin-top: 83px !important;
    margin-right: 71px;
}

.emailIcon {
    margin-top: 85px !important;
    font-size: 39px !important;
    cursor: pointer;
}

.emailIcon:hover {
    color: #a0f4d9;
    margin-top: 85px;
    font-size: 39px;
    cursor: pointer;
}